
@font-face {
    font-family: "iranyekanwebextrablack";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576488bd5beca84f4be08_iranyekanwebextrablack.woff")
      format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebbold";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576487dd75f25006627eb_iranyekanwebbold.woff")
      format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebextrabold";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff57648d664536b1634b700_iranyekanwebextrabold.woff")
      format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebmedium";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576486a7abf9f0d5fda93_iranyekanwebmedium.woff")
      format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebregular";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff5764846e1920f9e50c00d_iranyekanwebregular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebthin";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff57649e6322e0a5b95e82f_iranyekanwebthin.woff")
      format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanweblight";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576489700953d2aa94051_iranyekanweblight.woff")
      format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebblackfanum";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576ef47076f3a60363e55_iranyekanwebblackfanum.woff")
      format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebboldfanum";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576f069154f43505a1c84_iranyekanwebboldfanum.woff")
      format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebextrablackfanum";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576f06062a35a595c2b71_iranyekanwebextrablackfanum.woff")
      format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebmediumfanum";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576f019e70565b3221789_iranyekanwebmediumfanum.woff")
      format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebextraboldfanum";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576f0c43dafe48d1dbab9_iranyekanwebextraboldfanum.woff")
      format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebthinfanum";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576f0c5b84b9e450348a6_iranyekanwebthinfanum.woff")
      format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanweblightfanum";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576f0d66453ad6c34b7a8_iranyekanweblightfanum.woff")
      format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "iranyekanwebregularfanum";
    src: url("https://uploads-ssl.webflow.com/5ff542e0e6322e20ee9571b4/5ff576f0d7ae7b16697a6dc3_iranyekanwebregularfanum.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }