.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.grid {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-areas:
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . Area";
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr
    15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 15px auto 15px auto 15px auto 15px 4.4vh 15px auto 15px
    auto 15px auto 15px auto 15px auto 15px 3.5vh 15px auto 15px 7.3vh;
  grid-template-rows: auto auto auto auto 4.4vh auto auto auto auto auto 3.5vh auto 7.3vh;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero-grid-sec {
  margin-top: $hero-grid-sec-top-margin;
  font-size: 14px;
}

.hero-grid-div {
  width: auto;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
}

.top-big-div {
  overflow: hidden;
  height: 438px;
  max-height: 438px;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
  -o-object-fit: none;
  object-fit: none;
}

.top-big-div.box-shadow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 440px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: $all-box-shadows;
}

.top-right-small-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: $all-box-shadows;
  background-position: 0px 0px;
  background-size: cover;
}

.second-row-medium-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: $all-box-shadows;
  background-position: 0px 0px;
  background-size: cover;
}

.last-row-small-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: $all-box-shadows;
  background-position: 0px 0px;
  background-size: cover;
}

/* ==================HomeGridSingle DIV============== */
#w-node-798c62728e47-129571b5 {
  -ms-grid-row: span 5;
  grid-row-start: span 5;
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
  -ms-grid-column: span 9;
  grid-column-start: span 9;
  -ms-grid-column-span: 9;
  grid-column-end: span 9;
}

#w-node-093591b29eb0-129571b5 {
  -ms-grid-row: span 5;
  grid-row-start: span 5;
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-4b1645d9add3-129571b5 {
  -ms-grid-row: span 6;
  grid-row-start: span 6;
  -ms-grid-row-span: 6;
  grid-row-end: span 6;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-0ea76eb99c35-129571b5 {
  -ms-grid-row: span 8;
  grid-row-start: span 8;
  -ms-grid-row-span: 8;
  grid-row-end: span 8;
  -ms-grid-column: span 8;
  grid-column-start: span 8;
  -ms-grid-column-span: 8;
  grid-column-end: span 8;
}

#w-node-e228048e7a04-129571b5 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

.top-big-div-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  direction: rtl;
  font-family: iranyekanwebbold, sans-serif;
  color: $grids-title-color;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-shadow: $big-divs-text-shadow;
  white-space: normal;
}

.top-small-div-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 8%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  direction: rtl;
  font-family: iranyekanwebbold, sans-serif;
  color: $grids-title-color;
  font-size: 15px;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
  text-shadow: $big-divs-text-shadow;
}

.top-small-div-font.second-row-medium-div-font {
  margin-top: 8%;
  font-size: 21px;
  line-height: 150%;
}

.top-small-div-font.last-row-small-div-font {
  margin-top: 8%;
  font-size: 16px;
}

.top-big-div-cat {
  position: relative;
  right: auto;
  display: block;
  padding-top: 5px;
  padding-right: 10px;
  direction: rtl;
  font-family: iranyekanwebbold, sans-serif;
  color: $grids-title-color;
  font-size: 12px;
  line-height: 150%;
  text-align: right;
  text-shadow: $big-divs-text-shadow;
}

.top-small-div-cat {
  position: relative;
  right: auto;
  display: block;
  padding-top: 5px;
  padding-right: 10px;
  direction: rtl;
  font-family: iranyekanwebbold, sans-serif;
  color: $grids-title-color;
  font-size: 12px;
  line-height: 150%;
  text-align: right;
  text-shadow: $big-divs-text-shadow;
}

.top-small-div-cat.last-row-smal-div-cat {
  right: auto;
  display: block;
}

.second-row-medium-cat {
  position: relative;
  right: auto;
  display: block;
  padding-top: 5px;
  padding-right: 10px;
  float: none;
  clear: none;
  direction: rtl;
  font-family: iranyekanwebbold, sans-serif;
  color: $grids-title-color;
  font-size: 12px;
  line-height: 150%;
  text-align: right;
  text-shadow: $big-divs-text-shadow;
}

.bottom-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: $all-box-shadows;
}

.top-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 50%;
}

.second-row-big-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 770px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.inner-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 84%;
  margin-top: 0vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  background-color: transparent;
}

.inside-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  height: 47%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: transparent;
}

.hero-text-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: right;
}

.hero-pic-div {
  width: 30%;
  height: 100%;
  background-position: 0px 0px;
  background-size: cover;
}

.title-small {
  margin-right: 4%;
  direction: rtl;
  font-family: iranyekanwebbold, sans-serif;
  color: $site-black;
  font-size: 13px;
  line-height: 150%;
  font-weight: 700;
}

.hero-writer-text {
  margin-right: 4%;
  direction: rtl;
  color: $writer-date-text-color;
  font-size: 11px;
  line-height: 2.5vh;
}
