.info-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info-subdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-div-text {
  padding-left: 4px;
  direction: rtl;
  color: #f4f4f4;
  font-size: 11px;
  line-height: 200%;
  text-align: right;
  text-shadow: 1px 1px 2px #000;
}

.home-rate-num-icon {
  width: 17px;
  height: 17px;
  margin-bottom: 5px;
  color: #f4f4f4;
}

.home-like-num-icon {
  width: 17px;
  height: 17px;
}

.home-comment-num-icon {
  width: 17px;
  height: 17px;
}
