@media screen and (max-width: 479px) {
  .single-post {
    height: 250px;
  }

  .title {
    font-size: 12px;
  }

  .writer {
    font-size: 10px;
  }

  .desc {
    font-size: 11px;
  }

  .footer-sec {
    display: block;
  }
}
