@media screen and (min-width: 1280px) {
  .user-icon {
    margin-left: 0px;
  }

  .logo {
    margin-right: 0px;
  }

  .nav-cat-text {
    line-height: 15px;
  }

  .grid {
    width: auto;
    max-width: 1260px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .top-big-div.box-shadow {
    display: flex;
    height: 440px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .posts-sec {
    margin-top: 30px;
  }

  .bottom-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .second-row-big-div {
    height: 770px;
  }

  .posts-parent-div {
    max-width: 1260px;
  }

  .section-title {
    padding-right: 1.5%;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 100%;
  }

  .posts-div {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .single-post {
    width: 49.5%;
    height: 300px;
    margin-bottom: 12px;
  }

  .single-post-top {
    height: 60%;
  }

  .single-post-bottom {
    height: 40%;
  }

  .inner-div {
    margin-top: 0vh;
  }

  .title {
    font-size: 13px;
    line-height: 150%;
  }

  .writer {
    font-size: 10px;
    line-height: 150%;
  }

  .desc {
    font-size: 12px;
  }

  .footer-sec {
    display: block;
  }

  .hero-pic-div {
    width: 32%;
  }

  .title-small {
    font-size: 14px;
  }

  .hero-writer-text {
    font-size: 12px;
  }

  .top-big-div-font {
    margin-top: 8%;
    font-size: 28px;
  }

  .top-small-div-font {
    margin-top: 8%;
    font-size: 18px;
  }

  .top-small-div-font.second-row-medium-div-font {
    font-size: 22px;
    line-height: 150%;
  }

  .top-small-div-font.last-row-small-div-font {
    margin-top: 8%;
  }

  .top-big-div-cat {
    right: auto;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 150%;
  }

  .top-small-div-cat {
    top: auto;
    right: auto;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 100%;
  }

  .second-row-medium-cat {
    right: auto;
    font-size: 14px;
  }

  .nav-cat-div {
    margin-left: 10px;
    font-size: 5px;
    line-height: 5px;
  }

  .nav-cat-dropdown-icon {
    width: 5px;
    height: 5px;
  }

  .info-div {
    padding-left: 5px;
  }

  .info-div-text {
    padding-left: 4px;
    font-size: 12px;
    line-height: 200%;
  }

  .image-2 {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }

  .image-3 {
    width: 25px;
    height: 25px;
  }

  .image-4 {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .nav-child {
    max-width: 1260px;
  }

  .nav-cat-text {
    font-size: 13px;
    line-height: 15px;
  }

  .grid {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .top-big-div.box-shadow {
    /*height: 440px;*/
    display: flex;
    height: 440px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .bottom-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .second-row-big-div {
    height: 825px;
  }

  .single-post {
    width: 49.5%;
  }

  .inner-div {
    margin-top: 0vh;
  }

  .footer-sec {
    display: block;
  }

  .hero-pic-div {
    width: 32%;
  }

  .title-small {
    font-size: 14px;
  }

  .hero-writer-text {
    font-size: 12px;
  }

  .top-big-div-font {
    font-size: 28px;
  }

  .top-small-div-font {
    margin-top: 8%;
    font-size: 20px;
  }

  .top-small-div-font.second-row-medium-div-font {
    margin-top: 8%;
    font-size: 23px;
  }

  .top-small-div-font.last-row-small-div-font {
    margin-top: 8%;
  }

  .top-big-div-cat {
    right: auto;
    font-size: 14px;
  }

  .top-small-div-cat {
    top: auto;
    right: auto;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 150%;
  }

  .second-row-medium-cat {
    right: auto;
  }

  .nav-cat-div {
    margin-left: 10px;
    font-size: 5px;
    line-height: 5px;
  }

  .nav-cat-dropdown-icon {
    width: 5px;
    height: 5px;
  }

  .info-div {
    padding-bottom: 0px;
    padding-left: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .info-subdiv {
    margin-bottom: 0px;
    direction: ltr;
    text-align: left;
  }

  .info-div-text {
    padding-left: 4px;
    font-size: 12px;
    line-height: 200%;
  }

  .image-2 {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    line-height: 20px;
  }

  .image-3 {
    width: 25px;
    height: 25px;
  }

  .image-4 {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1920px) {
  .nav-child {
    max-width: 1260px;
  }

  .nav-cat-text {
    font-size: 13px;
  }

  .grid {
    max-width: 1260px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .hero-grid-div {
    max-width: 1260px;
  }

  .top-big-div.box-shadow {
    /*height: 440px;*/
    display: flex;
    height: 440px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .second-row-big-div {
    height: 850px;
  }

  .single-post {
    width: 49.5%;
  }

  .footer-sec {
    display: block;
  }

  .title-small {
    font-size: 14px;
  }

  .hero-writer-text {
    font-size: 12px;
  }

  .top-big-div-font {
    margin-top: 8%;
    font-size: 28px;
  }

  .top-big-div-font.second-row-big-div-font {
    margin-top: 8%;
  }

  .top-small-div-font {
    margin-top: 8%;
    font-size: 20px;
  }

  .top-small-div-font.second-row-medium-div-font {
    font-size: 24px;
  }

  .top-small-div-font.last-row-small-div-font {
    margin-top: 8%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .top-big-div-cat {
    right: auto;
    display: block;
    font-size: 14px;
  }

  .top-big-div-cat.second-row-big-div-cat {
    right: auto;
  }

  .top-small-div-cat {
    top: auto;
    right: auto;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 150%;
  }

  .top-small-div-cat.last-row-smal-div-cat {
    font-size: 14px;
  }

  .second-row-medium-cat {
    right: auto;
  }

  .nav-cat-div {
    margin-left: 10px;
    font-size: 5px;
    line-height: 5px;
  }

  .nav-cat-dropdown-icon {
    width: 5px;
    height: 5px;
  }

  .info-div {
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .info-subdiv {
    padding-left: 0px;
  }

  .info-div-text {
    padding-left: 4px;
    font-size: 12px;
    line-height: 200%;
  }

  .image-2 {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }

  .image-3 {
    width: 25px;
    height: 25px;
  }

  .image-4 {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 991px) {
  .nav-parent-div {
    height: 50px;
    max-width: 991px;
  }

  .nav-child {
    max-width: 991px;
  }

  .nav-div-logo {
    width: 10%;
    margin-right: 5px;
  }

  .user-icon {
    width: 35%;
    margin-left: 5px;
  }

  .search-icon {
    width: 35%;
    margin-left: 5px;
  }

  .logo {
    margin-right: 0px;
  }

  .nav-cat-text {
    margin-left: 5px;
    font-size: 11px;
  }

  .grid {
    max-width: 991px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  }

  .hero-grid-div {
    max-width: 991px;
  }

  .top-big-div.box-shadow {
    /*height: 304px;*/
    display: flex;
    height: 304px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .second-row-medium-div {
    height: auto;
  }

  .last-row-small-div {
    height: auto;
  }

  .posts-sec {
    margin-top: 30px;
  }

  .bottom-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .top-div {
    height: 50%;
  }

  .second-row-big-div {
    height: 525px;
  }

  .section-title {
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 13px;
  }

  .posts-div {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .single-post {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }

  .inner-div {
    width: 95%;
    height: 85%;
    margin-top: 0px;
    margin-bottom: 0%;
  }

  .title {
    font-size: 13px;
  }

  .writer {
    font-size: 11px;
  }

  .desc {
    font-size: 12px;
  }

  .inside-div {
    width: 49%;
    height: 47%;
  }

  .footer-sec {
    margin-right: auto;
    margin-left: auto;
  }

  .hero-pic-div {
    width: 30%;
  }

  .title-small {
    font-size: 13px;
  }

  .hero-writer-text {
    font-size: 10px;
  }

  .footer {
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .footer-blocks {
    height: 355px;
    margin-right: 5px;
    padding-left: 0px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .top-big-div-font {
    margin-top: 8%;
    font-size: 16px;
  }

  .top-small-div-font {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
  }

  .top-small-div-font.second-row-medium-div-font {
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }

  .top-big-div-cat {
    right: auto;
    display: block;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 10px;
    line-height: 150%;
  }

  .top-big-div-cat.second-row-big-div-cat {
    right: auto;
    display: block;
  }

  .top-small-div-cat {
    right: auto;
    display: block;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 10px;
    line-height: 150%;
  }

  .top-small-div-cat.last-row-smal-div-cat {
    right: auto;
  }

  .second-row-medium-cat {
    right: auto;
    display: block;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 10px;
    line-height: 150%;
  }

  .nav-cat-dropdown-icon {
    width: 5px;
    height: 5px;
  }

  .info-div {
    display: block;
    padding-bottom: 0px;
    padding-left: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info-subdiv {
    margin-bottom: 0px;
  }

  .info-div-text {
    font-size: 10px;
    line-height: 210%;
  }
}

@media screen and (max-width: 767px) {
  .user-icon {
    width: 30%;
  }

  .search-icon {
    width: 30%;
    margin-left: 5px;
  }

  .nav-cat-text {
    margin-left: 2.5px;
    font-size: 10px;
  }

  .hero-grid-div {
    display: block;
  }

  .top-big-div.box-shadow {
    /*height: 255px;*/
    display: flex;
    height: 225px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .posts-sec {
    margin-top: 30px;
  }

  .bottom-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .second-row-big-div {
    height: 425px;
  }

  .inner-div {
    margin-top: 0px;
  }

  .inside-div {
    width: 49%;
  }

  .hero-pic-div {
    width: 30%;
  }

  .title-small {
    font-size: 12px;
  }

  .hero-writer-text {
    font-size: 9px;
  }

  .footer {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .top-big-div-font {
    font-size: 13px;
  }

  .top-small-div-font.second-row-medium-div-font {
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
  }

  .top-small-div-font.last-row-small-div-font {
    margin-right: auto;
    margin-left: auto;
  }

  .top-big-div-cat {
    right: auto;
    display: block;
  }

  .top-big-div-cat.second-row-big-div-cat {
    right: auto;
  }

  .top-small-div-cat.last-row-smal-div-cat {
    right: auto;
    display: block;
  }

  .second-row-medium-cat {
    right: auto;
    display: block;
    text-align: right;
  }

  .nav-cat-dropdown-icon {
    width: 5px;
    height: 5px;
  }

  .info-div {
    padding-left: 5px;
  }

  .info-div-text {
    font-size: 9px;
    line-height: 225%;
  }

  .image-2 {
    width: 18px;
    height: 18px;
  }

  .image-3 {
    width: 18px;
    height: 18px;
  }

  .image-4 {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 479px) {
  .single-post {
    height: 250px;
  }

  .title {
    font-size: 12px;
  }

  .writer {
    font-size: 10px;
  }

  .desc {
    font-size: 11px;
  }

  .footer-sec {
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  #w-node-093591b29eb0-129571b5 {
    -ms-grid-row: span 5;
    grid-row-start: span 5;
    -ms-grid-row-span: 5;
    grid-row-end: span 5;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
}

@media screen and (max-width: 991px) {
  #w-node-798c62728e47-129571b5 {
    -ms-grid-row: span 4;
    grid-row-start: span 4;
    -ms-grid-row-span: 4;
    grid-row-end: span 4;
    -ms-grid-column: span 9;
    grid-column-start: span 9;
    -ms-grid-column-span: 9;
    grid-column-end: span 9;
  }

  #w-node-093591b29eb0-129571b5 {
    -ms-grid-row: span 4;
    grid-row-start: span 4;
    -ms-grid-row-span: 4;
    grid-row-end: span 4;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  #w-node-4b1645d9add3-129571b5 {
    -ms-grid-row: span 6;
    grid-row-start: span 6;
    -ms-grid-row-span: 6;
    grid-row-end: span 6;
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-093591b29eb0-129571b5 {
    -ms-grid-row: span 4;
    grid-row-start: span 4;
    -ms-grid-row-span: 4;
    grid-row-end: span 4;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
}
