.user-modal {
  position: relative;
  z-index: 1002;
  margin-right: auto;
  margin-left: auto;
  top: 20%;
  width: 350px;
  height: auto;
  height: auto;
  background-color: #fff;
}

.user-overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, $alpha: 0.5);
}
/*===============*/
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
/*===============*/
.user-modal-close-btn {
  background-color: transparent;
  padding: 0%;
}

.user-modal-title {
  color: black;
}
/******************* register-modal start *******************/
.register-modal {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.register-modal-closebtn {
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
}

.register-modal-closebtn-div {
  display: block;
  direction: rtl;
}

.register-modal-header {
  direction: rtl;
  font-family: iranyekanwebmedium, sans-serif;
  color: #393939;
  font-size: 17px;
  text-align: center;
  letter-spacing: 2px;
}

.register-modal-registration-q {
  font-family: iranyekanwebregular, sans-serif;
  color: #393939;
  font-size: 11px;
  text-align: center;
}

.register-modal-registration-a {
  padding-right: 3px;
  font-family: iranyekanwebregular, sans-serif;
  color: #4796ff;
  font-size: 11px;
}

.register-modal-registration-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin-top: 3px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.register-modal-form-div {
  width: 306px;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}

.register-modal-form {
  background-color: #fff;
}

.register-modal-name-lname-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.register-modal-name-input {
  width: 150px;
  border: 1px solid #bcbcbc;
  border-radius: 0px 4px 4px 0px;
  background-color: #f8f8f8;
  direction: rtl;
  font-family: iranyekanwebregular, sans-serif;
  font-size: 11px;
  color: $site-black;
}

.register-modal-lname-input {
  width: 150px;
  border: 1px solid #bcbcbc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f8f8f8;
  direction: rtl;
  font-family: iranyekanwebregular, sans-serif;
  font-size: 11px;
  color: $site-black;
}

.register-modal-password-input {
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  background-color: #f8f8f8;
  direction: rtl;
  font-family: iranyekanwebregular, sans-serif;
  color: $site-black;
  font-size: 11px;
}

.register-modal-rules-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  direction: ltr;
  text-align: right;
}

.register-modal-rules-link {
  padding-right: 3px;
  font-family: iranyekanwebregular, sans-serif;
  color: #4796ff;
  font-size: 11px;
}

.register-modal-rules-text {
  padding-right: 3px;
  font-family: iranyekanwebregular, sans-serif;
  color: #393939;
  font-size: 11px;
}

.register-modal-btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #4796ff;
  border-color: #4796ff;
  border: 1px;
  font-family: iranyekanwebregular, sans-serif;
  text-align: center;
}
/******************* register-modal end *******************/

/******************* login-modal start *******************/
.login-modal {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.login-modal-closebtn {
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
}

.login-modal-closebtn-div {
  display: block;
  direction: rtl;
}

.login-modal-header {
  direction: rtl;
  font-family: iranyekanwebmedium, sans-serif;
  color: #393939;
  font-size: 17px;
  text-align: center;
  letter-spacing: 2px;
}

.login-modal-registration-q {
  font-family: iranyekanwebregular, sans-serif;
  color: #393939;
  font-size: 11px;
  text-align: center;
}

.login-modal-registration-a {
  padding-right: 3px;
  font-family: iranyekanwebregular, sans-serif;
  color: #4796ff;
  font-size: 11px;
}

.login-modal-registration-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin-top: 3px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login-modal-form-div {
  width: 306px;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
}

.login-modal-form {
  background-color: #fff;
}

.login-modal-password-input {
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  background-color: #f8f8f8;
  direction: rtl;
  font-family: iranyekanwebregular, sans-serif;
  color: #bcbcbc;
  font-size: 11px;
}

.login-modal-rules-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  direction: rtl;
  text-align: right;
}

.login-modal-remember-me-text {
  padding-right: 3px;
  font-family: iranyekanwebregular, sans-serif;
  color: #393939;
  font-size: 11px;
  font-weight: 400;
}

.login-modal-btn {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #4796ff;
  font-family: iranyekanwebregular, sans-serif;
  text-align: center;
}

.login-modal-remember-me-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  direction: ltr;
}

.login-modal-pass-forgotten-text {
  direction: rtl;
  font-family: iranyekanwebregular, sans-serif;
  color: #4796ff;
  font-size: 11px;
  text-align: right;
}
/******************* login-modal end *******************/

/******************* profile-modal start *******************/
.profile-modal-closebtn {
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
}

.profile-modal-closebtn-div {
  display: block;
  direction: rtl;
  line-height: 0px;
}

.profile-modal-greeting {
  margin-top: 0px;
  padding-top: 5px;
  direction: rtl;
  font-family: iranyekanwebbold, sans-serif;
  color: #393939;
  font-size: 17px;
  text-align: center;
  letter-spacing: 1.5px;
}

.profile-modal-position {
  margin-top: 5px;
  font-family: iranyekanwebmedium, sans-serif;
  color: #393939;
  font-size: 15px;
  text-align: center;
}

.profile-modal-form-div {
  width: 306px;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
}

.profile-modal-form {
  background-color: #fff;
}

.profile-modal-btn {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #e10000;
  font-family: iranyekanwebregular, sans-serif;
  text-align: center;
}

.profile-modal-pic {
  position: static;
  display: block;
  width: 80px;
  height: 80px;
  margin-top: -57px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
  border-radius: 50px;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%;
  background-size: cover;
}

.profile-modal-list {
  margin-top: 20px;
}

.profile-modal-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  direction: ltr;
}

.profile-modal-list-item-text {
  padding-right: 5px;
  direction: rtl;
  font-family: iranyekanwebregular, sans-serif;
  color: #4796ff;
  font-size: 12px;
  line-height: 20px;
}

.profile-modal-list-item-img {
  margin-right: 22px;
}
/******************* profile-modal end *******************/
